@import "tailwindcss";

@layer components {
  .scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .scrollbar-none::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
